<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".InitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TVMazeClient">
        <activity
            android:name=".ui.compose.chooser.ChooserActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.compose.main.MainActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.compose.person_details.PersonDetailsActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.compose.people.PeopleActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.compose.favorites.FavoritesActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.compose.show_details.ShowDetailsActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.compose.shows.ShowsActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.xml_based.main.MainActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.xml_based.person_details.PersonDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.xml_based.people.PeopleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.xml_based.favorites.FavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.xml_based.show_details.ShowDetailsActivity"
            android:exported="false"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.xml_based.shows.ShowsActivity"
            android:exported="false" />
    </application>

</manifest>